<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">


<display-name>wrench</display-name>


    <servlet>
      <servlet-name>api</servlet-name>
      <servlet-class>com.headissue.wrench.JsonApiServlet</servlet-class>
    </servlet>
    <!--
    Via convention, the RestLink class takes the first non-jsp mapping for any of the following names
    As a result, DO NOT CHANGE THESE NAMES, except if you also change them in the RestLink class
    -->
    <servlet>
        <servlet-name>search</servlet-name>
        <jsp-file>/search.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search/</url-pattern>
    </servlet-mapping>
    <servlet>
      <servlet-name>show</servlet-name>
      <jsp-file>/show.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
      <servlet-name>show</servlet-name>
      <url-pattern>/show/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>invoke</servlet-name>
        <jsp-file>/invoke.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>invoke</servlet-name>
        <url-pattern>/invoke/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>set</servlet-name>
        <jsp-file>/set.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>set</servlet-name>
        <url-pattern>/set/*</url-pattern>
    </servlet-mapping>

    <security-role>
        <role-name>jmx-wrench</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>jmx-wrench</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
       <auth-method>BASIC</auth-method>
    </login-config>
</web-app>